table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.transaction-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.transaction-full-width {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}